body {
    background-color: #000000f3;
}

.container {
    border: 1px;
    height: 200px;
    position: relative;
}

.spacebar {
    position: absolute;
    left: 25%;
    top: 140%;
    transform: translateY(-140%);
    transform: translateX(-25%);
}

@font-face {
    font-family: rykerfont;
    src: url(rykerfont.ttf);
}

#cookie-value {
    font-family: rykerfont;
    font-size: 60px;
    font-weight: 1000;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 25%;
    top: 10%;
    transform: translateY(-10%);
    transform: translateX(-25%);
}

#upgrades-title {
    font-family: rykerfont;
    font-size: 80px;
    font-weight: 1000;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 70%;
    top: 25%;
    transform: translateY(-25%);
    transform: translateX(-20%);
}

.hire-worker-button {
    position: absolute;
    left: 82%;
    top: 90%;
    transform: translateY(-90%);
    transform: translateX(-82%);
}

/* if desktop */
    .mobile_device_380px {
        display: none;
    }

@media only screen and (max-device-width: 380px) {
    #cookie-value-380px {
        font-family: rykerfont;
        font-size: 60px;
        font-weight: 1000;
        text-align: center;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translateY(-10%);
        transform: translateX(-50%);
    }

    .spacebar-380px {
        position: absolute;
        left: 25%;
        top: 140%;
        transform: translateY(-140%);
        transform: translateX(-25%);
    }

    #upgrades-title-380px {
        font-family: rykerfont;
        font-size: 80px;
        font-weight: 1000;
        text-align: center;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 200%;
        transform: translateY(-200%);
        transform: translateX(-50%);
    }

    .hire-worker-button-380px {
        position: absolute;
        left: 82%;
        top: 265%;
        transform: translateY(-265%);
        transform: translateX(-82%);
    }
    .spacebar, #cookie-value, #upgrades-title, .hire-worker-button {
        display: none;
    }

}